<tr>
  <td><%= link_to team.name, team_path(team) %></td>
  <td><%= team.people.count %></td>
  <td>
  <div class="btn-toolbar pull-right">
      <%= link_to edit_team_path(team), class: "btn btn-medium btn-default" do %>
      <span class="glyphicon glyphicon-pencil"></span> <span class="hidden-phone">Edit</span>
      <% end %>

      <%= link_to team_path(team), :method => :delete, :confirm => 'You sure you want to delete this?', class: "btn btn-mini btn-danger" do %>
      <span class="glyphicon glyphicon-trash"></span>
        <% end %>
    </div>
  </td>
</tr>