<div class="col-md-8 center">

<h2>Teams</h2>
<div class="btn-toolbar">

</div>
<div class="well">
 <%= link_to new_team_path, class:"btn btn-success pull-right" do %>
  <span class="glyphicon glyphicon-plus"></span> New Team
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Members</th>
      <th></th>
      </tr>
    </thead>
    <tbody>

      <%= render @teams%>


    </tbody>
  </table>
</div>

</div>
