    <div class="col-md-10 center"> 
  <h1>All People in <%= current_organization.name %></h1>
</div>
 
    <div class="col-md-10 well center">


<table class="table clearfix">
    <div class="form-inline">
      <div class="form-group">
       <%= link_to new_person_path, class:"btn btn-success pull-right" do %>
        <span class="glyphicon glyphicon-plus"></span> Create Person
      <% end %>
        <div class="input-group col-md-8">
          <input type="text" class="form-control" id="modal-filter" placeholder="Filter...">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
        </div>
    </div>
    <div>

      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Paired count</th>
          <th>Weeks In</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
            <%= render partial: 'person', collection: @people %>
      </tbody>

    </div>
  </table>

<br/>
</div>
