 <!-- Main jumbotron for a primary marketing message or call to action -->

 <div class="col-md-10 center center-text ">
<div class="jumbotron">
        <h1>How's <i>your</i> culture?</h1>
        <p class="lead">Try 1+1! Split your organization up into pairs, and have each pair do something fun. Build company culture and build friendships. Set up your organization and we'll email out the pairs every Friday at 5:00PM.</p>
        <div class="center"><a class="btn btn-lg btn-info center" href="/signup">Sign up today</a></div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    
    </div>